# App
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/billing?schema=public

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Redis
REDIS_HOST=localhost
REDIS_PORT=6382
REDIS_DB=0
REDIS_PASSWORD=
